##################
## Common
##################
/bin
/test-output
/.git
/target

##################
## Eclipse
##################
/.settings
/.classpath
/.project

##################
## IntelliJ IDEA
##################
/.idea
/SpringExample.iml