<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="sayHelloJob"
          class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.geekspearls.quartz.task.SayHelloTask"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="name" value="Geek's pearls reader"/>
            </map>
        </property>
        <property name="durability" value="true"/>
    </bean>

    <bean id="helloWorldTask" class="com.geekspearls.quartz.task.HelloWorldTask"/>

    <bean id="helloWorldJob"
          class = "org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="helloWorldTask"/>
        <property name="targetMethod" value="sayHello"/>
    </bean>

    <bean id="simpleTrigger"
          class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="helloWorldJob" />
        <property name="repeatInterval" value="5000" />
        <property name="startDelay" value="1000" />
    </bean>
    
    <bean id="cronTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="sayHelloJob" />
        <property name="cronExpression" value="0/10 * * * * ?"/>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="helloWorldJob" />
                <ref bean="sayHelloJob" />
            </list>
        </property>
        <property name="triggers">
            <list>
                <ref bean="simpleTrigger" />
                <ref bean="cronTrigger" />
            </list>
        </property>
    </bean>

</beans>